[submodule "opt/skales"]
	path = opt/skales
	url = git://codeaurora.org/quic/kernel/skales
	branch = master
[submodule "opt/osp/src/kernel"]
	path = opt/osp/src/kernel
	url = https://bitbucket.org/openspeechplatform/kernel.git
[submodule "opt/osp/src/osp-process"]
	path = opt/osp/src/osp-process
	url = https://bitbucket.org/openspeechplatform/osp-clion.git
[submodule "opt/osp/src/portaudio"]
	path = opt/osp/src/portaudio
	url = https://git.assembla.com/portaudio.git
